{# Heredando la plantilla principal #}


{% extends 'default_layout.html' %}

{% block extraCSS %}

{% endblock %}

{% block javascripts %}
    <!-- JS para esta página. -->
					<script type="text/JavaScript" src="js_libs/FacturasVentas.js"></script> <!-- Administrar la Factura Ventas y Detalles Ventas -->
{% endblock %}

{% block contenidos %}
<div class="container-fluid">
	<div class="row mt-3">
			<div class="col">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a href="#tab1" class="nav-link active" data-toggle="tab"><span class="fa fa-cart-arrow-down"></span> Facturas</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="tab1" role="tabpanel">
						<!-- ENCABEZADO Y MODIFICACIÓN DE LA FECHA PARA LA FACTURA. -->
							<div class="row widgets justify-content-between">
								<div class="col col-md-4 col-lg-2 align-self-start">
									<h3><span class="fa fa-cart-arrow-down"></span> Ventas</h3>
								</div>
								<div class="col col-md-4 col-lg-2 col-auto ml-auto">
									<form  action="" method="post" name="form" id="form" role="form">
												<span class="">Fecha Nueva</span>
												<input class="form-control" type="date" id="txtFechaNueva" name="txtFechaNueva">
												<label class="checkbox-inline"><input type="checkbox" id="cambiar_fecha" value="0" title="Activar Para Cambiar la Fecha de la Factura"> Cambiar Fecha</label>
												<label class="checkbox-inline"><input type="checkbox" id="no_fecha" value="0" title="Activar Para no mostrar la fecha."> No Fecha</label>
								 </form>
								</div>
							</div>
				<!-- CREACION DE LA TABLA PARA EL INGRESO DE DATOS DESDE AJAX Y PHP. -->
						<div class="row">
							<div class="col">
									<table id="listadoVentas" class="table table-striped table-hover table-responsive-lg text-dark">
											<thead>
												<tr class="bg-secondary text-white">
														<th>Id</th>
														<th>Fecha</th>
														<th>Nº Factura</th>
														<th>Tipo Factura</th>
														<th>Cliente/Empresa</th>
														<th>Total Venta</th>
														<th>Estado </th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
												</tr>
											</thead>
											<tbody id="listaUsuariosOK">
												<!-- Datos que provienen de la consulta con Ajax y PHP. -->
											</tbody>
									</table>
								</div>
								</div>
					</div> <!-- tab 1 -->
				</div> <!-- tab content -->
			</div> <!-- col -->
		</div> <!-- row -->
</div> <!-- container -->
<!--
<!--		VENTANA MODAL - ELIMINAR -->
<div class="row mt-3 text-dark">
			<div class="col">
			<div class="modal fade" id="VentanaEliminar" tabindex="-1" role="dialog" aria-labelledby="VentanaEliminar" aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<div class="modal-header modal-header-warning">
								<h6 class="modal-title" id=""><span class="fa fa-trash"></span>¿Desea Eliminar El Registro?</h6>
								<button class="close" data-dismiss="modal" aria-label="Cerrar">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12 col-md-12">
											<p>
												<h5>Nº Factura: <span class="badge badge-info" for="NumeroFactura"></span></h5>
												<h6>Tipo Factura: <span class="badge badge-info" for="TipoFactura"></span></h3>
												<h6>Cliente/Empresa: <span class="badge badge-info"  for="ClienteEmpresa"></span></h3>
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<button class="btn btn-success" id="BotonEliminarRegistro" value="SiEliminarRegistro">Aceptar</button>
								<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--
<!--		VENTANA MODAL - MODIFICAR LA FECHA DE LA FACTURA -->
<div class="row mt-3 text-dark">
			<div class="col">
			<div class="modal fade" id="VentanaModificar" tabindex="-1" role="dialog" aria-labelledby="VentanaModificar" aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<div class="modal-header modal-header-info">
								<h6 class="modal-title" id=""><span class="fa fa-edit"></span>¿Editar Fecha de Factura?</h6>
								<button class="close" data-dismiss="modal" aria-label="Cerrar">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12 col-md-12">
											<p>
												<h5>Nº Factura: <span class="badge badge-info" for="NumeroFactura"></span></h5>
												<h6>Tipo Factura: <span class="badge badge-info" for="TipoFactura"></span></h3>
												<h6>Cliente/Empresa: <span class="badge badge-info"  for="ClienteEmpresa"></span></h3>
											</p>
											<div class="col-12 col-md-8">
													<form  action="" method="post" name="form" id="form" role="form">
																<span class="">Fecha Nueva</span>
																<input class="form-control" type="date" id="txtFecha" name="txtFecha" placeholder="DD/MM/YYYY">
												 </form>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<button class="btn btn-success" id="BotonActualizarRegistro" value="SiActualizarRegistro">Aceptar</button>
								<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>               
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-loading.html' %}
{% endblock %}

{% block menu %}
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-menu.html' %}
{% endblock %}
 
{% block loginUser %}
	<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}
