                <ul class="navbar-nav">
                        <li class="nav-item dropdown navbar-left">
                                <a href="#" class="nav-link dropdown-toggle" id="menu-categorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <span class="fa fa-user"></span> {{ userName }} {{perfil}}
                                </a>
                                        <div class="dropdown-menu" aria-labelledby="menu-categorias">
                                                <a href="logout.php" class="dropdown-item px-1">
                                                    <span class="fa fa-lock"></span> Cerrar Sesión
                                                </a>
                                        </div>
                        </li>
                </ul>