{# Heredando la plantilla principal #}


{% extends 'default_layout.html' %}

{% block extraCSS %}
	<!-- TOASTR -->
	<link rel="stylesheet" type="text/css" href="js_libs/toastr/toastr.css">
{% endblock %}

{% block javascripts %}
    <!-- JS para esta página. -->
	<script type="text/JavaScript" src="js_libs/medidas.js"></script> <!-- REPORTES -->
	<!-- JS TOASTR. -->
	<script type="text/JavaScript" src="js_libs/toastr/toastr.js"></script> <!-- MENSAJES -->
	<!-- CONFIGURACIÓN DE TOASTR -->
	<script type="text/javascript">
		toastr.options = {
			"closeButton": true,
			"debug": false,
			"newestOnTop": false,
			"progressBar": false,
			"positionClass": "toast-bottom-right",
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "3000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
	};
	</script>
{% endblock %}

{% block contenidos %}
<div class="container">
	<div class="row mt-3 text-dark">
			<div class="col">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
					  <a class="nav-link active" href="#medidas" role="tab" data-toggle="tab"><span class="fab fa-wpforms"></span> Coordenadas de Impresión de Facturas</a>
					</li>
				  </ul>
				  
				  <!-- Tab panes -->
				  <div class="tab-content">
					<div role="tabpanel" class="tab-pane in active" id="medidas">
						<form  action="" method="post" name="formMedidas" id="formMedidas" role="form">
								<!-- ENCABEZADO Y MODIFICACIÓN DE LA FECHA PARA LA FACTURA. -->
									<div class="form-group row mt-2">
										<div class="col-12 col-md-6 col-lg-6 mb-1 align-self-left">
												<div class="form-check-inline">
												  <label class="form-check-label">
													<input type="radio" class="form-check-input" name="opmedidas" id="c1" value = "01" checked="checked"> Factura Consumidor Final
												  </label>
												</div>
												<div class="form-check-inline">
												  <label class="form-check-label">
													<input type="radio" class="form-check-input" name="opmedidas" id="c2" value = "02"> Factura Crédito Fiscal
												  </label>
												</div>
										</div>
										
										<div class="col-12 col-md-3 col-lg-3 mb-1 d-flex align-items-end">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><span class=""></span> Impresora</span>
												</div>
													<select name="lstPrinter" id="lstPrinter" class="form-control">
														<option value=0>Printer 0</option>
														<option value=1>Printer 1</option>
													</select>											
											</div>											
										</div>	
									</div>
									
									<!-- Boton de Busqueda -->
										<div class="form-group row mt-4">
											<div class="col-12 col-md-6 col-lg-3 mb-3 d-flex align-items-end">
												<button type="button" class="btn btn-success" id="goBuscarMedida" value="BuscarMedida"><span class="fa fa-search"></span> Buscar</button>
												<button type="button" class="btn btn-primary" id = "goNuevoMedida" title="Crear un Nuevo Registro">Crear</button>
												<button type="button" class="btn btn-m btn-primary" id = "goMedidaActualizar" disabled>Actualizar</button>
												<button type="button" class="btn btn-m btn-danger" id = "goMedidaCancelar">Cancelar</button>
											</div>	
										</div>

							<!-- CREACION DE LA TABLA PARA EL INGRESO DE DATOS DESDE AJAX Y PHP. -->
								<div class="row">
									<div class="col-12 col-md-12">
											<table id="tablaMedida" class="table table-striped table-condensed table-hover table-responsive-sm text-dark">
													<thead>
														<tr class="bg-secondary text-white" style="font-size: 11px;">
																<th>N°</th>
																<th></th>
																<th>Printer</th>
																<th>Tipo de Factura <br>01-CF; 02-CrF</th>
																<th>Descripción</th>
																<th>Columna (X)</th>
																<th>Fila (Y)</th>
																<th>Nombre Fuente</th>
																<th>Estilo Fuente</th>
																<th>Tamaño Fuente</th>
														</tr>
													</thead>
													<tbody id="listaMedidaOK">
														<!-- Datos que provienen de la consulta con Ajax y PHP. -->
													</tbody>
											</table>
										</div>
								</div>

						</form> <!-- FORM -->						
					</div> <!-- TAB VENTAS -->
					

					
				  </div> <!-- TAB CONTENT -->


			</div> <!-- col -->
		</div> <!-- row -->
</div> <!-- container -->
<!-- VENTANA PARA MODIFICAR LA CANTIDAD.. -->
<div class="row mt-3 text-dark">
			<div class="col">
			<div class="modal fade" data-backdrop="static" data-keyboard="false" id="VentanaModificarCantidad" tabindex="-2" role="dialog" aria-labelledby="VentanaModificarCantidad" aria-hidden="true">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header modal-header-info">
								<h6 class="modal-title" id=""><span class="fa fa-edit"></span> ¿Editar Cantidad?</h6>
								<button class="close" data-dismiss="modal" aria-label="Cerrar">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12">
												<form  action="" method="post" name="formAjusteCantidad" id="form" role="form">
													<div class="form-group row">
														<div class="input-group mb-2">
															<div class="input-group-prepend">
																<span class="input-group-text">Cantidad</span>
															</div>
															<input type="number" name="txtCantidad" id="txtCantidad" class="form-control" value="1">
														</div>

													</div>
												</form>
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<button class="btn btn-success" id="goActualizarCantidad" value="SiActualizarCantidad">Aceptar</button>
								<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-loading.html' %}
{% endblock %}

{% block menu %}
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-menu.html' %}
{% endblock %}
 
{% block loginUser %}
	<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}
