<!--		VENTANA MODAL - MODIFICAR LA FECHA DE LA FACTURA -->
<div class="row mt-3 text-dark">
<div class="col">
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="VentanaNumeroFacturaTiraje" tabindex="-1" role="dialog" aria-labelledby="VentanaNumeroFacturaTiraje" aria-hidden="true">
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header modal-header-info">
			<h6 class="modal-title" id=""><span class="fa fa-edit"></span><label>¿Editar/Nuevo Número de Factura - Tiraje?</label></h6>
			<button class="close" data-dismiss="modal" aria-label="Cerrar" id="CerrarVentanaNumeroFacturaTiraje">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- CUERPO DEL MODAL BODY -->
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md-12 col-lg-12">
						<form  action="" method="post" name="form" id="formTiraje" role="form">
							<!-- hideen para la plantilla de ventas con respecto al ID. -->
							<input type="hidden" id="txtId" name="txtId" value="0">
							<!-- NOMBRE DEL CLIENTE/EMPRESA Y ESTATUS -->
											<div class="form-group row">
												<div class="col-12 col-md-12 col-lg-4 mb-1">
													<label for="txtcodigo">Id Factura/Tiraje</label>
													<input type="text" class="form-control" placeholder="Número Factura/Tiraje" name="txtId" id="txtId" readonly="readonly">
												</div>
																			<div class="col-12 col-md-12 col-lg-4 mb-1">
																					<label for="estatus">Tipo de Factura</label>
																					<select name="lstTipoFactura" id="lstTipoFactura" value="01" class="form-control" autofocus></select>																					
																				</div>
																			</div>

																			<!-- Número Tiraje, Inicio y Fin. -->
																			<div class="form-group row">
																				<div class="col-12 col-md-12 col-lg-6 mb-1">
																						<div class="input-group mb-1">
																							<div class="input-group-prepend">
																								<span class="input-group-text"><span class="fa fa-hashtag"></span>  Tiraje</span>
																							</div>
																								<input type="text" name="txtNumeroFacturaTiraje" id="txtNumeroFacturaTiraje" class="form-control" data-toggle="tooltip" data-placement="right" title="Ej. 19AS000F" onchange="conMayusculas(this);">
																						</div>
																						<div class="input-group mb-1">
																							<div class="input-group-prepend">
																								<span class="input-group-text"><span class="fa fa-hashtag"></span>  Número Inicio</span>
																							</div>
																								<input type="number" min="1" step="1" name="txtNumeroFacturaInicio" id="txtNumeroFacturaInicio" class="form-control" data-toggle="tooltip" data-placement="right" title="Ej. 9999">
																						</div>
																						<div class="input-group mb-1">
																							<div class="input-group-prepend">
																								<span class="input-group-text"><span class="fa fa-hashtag"></span>  Número Fin</span>
																							</div>
																								<input type="number" min="2" step="1" name="txtNumeroFacturaFin" id="txtNumeroFacturaFin" class="form-control" data-toggle="tooltip" data-placement="right" title="Ej. 9999">
																						</div>
																				</div>
																			</div>
																			
																			<!-- DEPARTAMENTO Y MUNICPIO -->
																			<div class="form-group row">																				
																				<div class="col-12 col-md-12 col-lg-6 mb-1 align-self-center">
																						<label for="fecha-creacion">Fecha Autorización</label>
																							<div class="input-group mb-1">
																								<div class="input-group-prepend">
																									<span class="input-group-text"><span class="fa fa-calendar"></span></span>
																								</div>
																									<input type="text" name="txtFechaAutorizacion" id="txtFechaAutorizacion" class="form-control" autocomplete="off">
																							</div>
																				</div>

																				<div class="col-12 col-md-12 col-lg-6 mb-1 align-self-center">
																						<label for="fecha-creacion">Fecha Impresión</label>
																							<div class="input-group mb-1">
																								<div class="input-group-prepend">
																									<span class="input-group-text"><span class="fa fa-calendar"></span></span>
																								</div>
																									<input type="text" name="txtFechaImpresion" id="txtFechaImpresion" class="form-control" autocomplete="off">
																							</div>
																				</div>
																				
																				<div class="col-12 col-md-12 col-lg-6 mb-1">
																						<div class="input-group mb-1">
																							<div class="input-group-prepend">
																								<span class="input-group-text">Estatus</span>
																							</div>
																								<select name="lstEstatus" id="lstEstatus" value="01" class="form-control"></select>							
																						</div>
																				</div>
																			</div>
															</div>
													</div>
												</div>
                                            </div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-success" id="ActualizarRegistro" value="SiActualizarRegistro">Aceptar</button>
												<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
								</form>
						</div>
					</div>
				</div>
			</div>
		</div>               
