<!-- VENTANA MODAL - MODIFICAR LA FECHA DE LA FACTURA -->
<div class="row mt-3 text-dark">
<div class="col">
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="VentanaBuscarProducto" tabindex="-1" role="dialog" aria-labelledby="VentanaBuscarProducto" aria-hidden="true">
<div class="modal-dialog modal-xl">
	<div class="modal-content">
		<div class="modal-header modal-header-info">
			<h6 class="modal-title" id=""><span class="fa fa-search"></span><label>¿Buscar Producto?</label></h6>
			<button class="close" data-dismiss="modal" aria-label="Cerrar" id="CerrarVentanaBuscarProducto">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- FORMULARIO PRINCIPAL. -->
		<form  action="" method="post" name="form" id="formBuscarProductoVenta" role="form">
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 col-lg-12 col-xl-12">
								<!-- CREACION DE LA TABLA PARA EL INGRESO DE DATOS DESDE AJAX Y PHP. -->
											<table id="listadoProductos" class="table table-striped table-condensed table-hover text-dark table-sm" style="font-size: 12px;">
													<thead>
														<tr class="bg-secondary text-white">
															<th class="centerTXT">Id</th>
															<th class="centerTXT">Código</th>
															<th class="centerTXT">Código Barra</th>
															<th class="centerTXT">Descripcion</th>
															<th class="centerTXT">Cantidad</th>
															<th class="centerTXT">Precio</th>
															<th class="centerTXT">Exento</th>
															<th class="centerTXT">Exis.</th>
															<th></th>
															<th></th>
														</tr>
													</thead>
													<tbody id="listaProductos">
														<!-- Datos que provienen de la consulta con Ajax y PHP. -->
													</tbody>
											</table>
						</div> <!-- DIV SECUNDARIO -->
					</div> <!-- ROW -->
				</div> <!-- CONTAINER -->
			</div> <!-- MODAL BODY -->
				<!-- footer modal -->
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
		</form>
	</div>
</div>
</div>
</div>			
</div>